<%= require('@partials/header.ejs')({title: 'Homepage'}) %>

<body class="dij-c-page">
    <div class="dij-c-page__wrapper">
        <header class="dij-c-header">
            <div class="dij-c-logo">
                <figure>
                    <a href="/">
                        <img class="dij-c-logo__img"
                            src="<%= require('@img/logo.png') %>"
                            alt="A beautiful photo">
                    </a>
                </figure>
            </div>
            <h1 class="dij-c-header__title">Mon site internet</h1>
            <nav class="dij-c-nav dij-c-nav--v-header">
                <ul class="dij-c-nav__list">
                    <li class="dij-c-nav__listItem"><a class="dij-c-nav__link" href="#menu1">Menu 1</a></li>
                    <li class="dij-c-nav__listItem"><a class="dij-c-nav__link" href="#menu2">Menu 2</a></li>
                    <li class="dij-c-nav__listItem"><a class="dij-c-nav__link" href="#menu3">Menu 3</a></li>
                    <li class="dij-c-nav__listItem"><a class="dij-c-nav__link" href="#menu4">Menu 4</a></li>
                    <li class="dij-c-nav__listItem"><a class="dij-c-nav__link" href="#menu5">Menu 5</a></li>
                </ul>
            </nav>
        </header>
        <section class="dij-c-section dij-c-section--v-bienvenue">
            <h2>Bienvenue</h2>
            <div class="row">
                <p class="dij-c-section--v-bienvenue__text"><%= faker.lorem.sentences(4) %></p>
            </div>
        </section>
        <section class="dij-c-section dij-c-section--t-dark dij-c-section--v-products">
            <div class="row">
                <%  const productsImgTab = ['profits', 'shield', 'todolist']; %>
                <% for (var i = 0; i < productsImgTab.length; i++) { %>
                <div class="dij-c-section--v-products__cardWrapper">
                    <div class="card dij-c-section--v-products__card">
                        <a href="#" class="card__imgLink text-center">
                            <img class="card__img" src="<%= require('@img/'+ productsImgTab[i] + '.svg') %>" alt="Card image">
                        </a>
                        <div class="card-body text-center">
                            <h5 class="card-title"><%= faker.lorem.words(3) %></h5>
                            <p class="card-text">
                                <%= faker.lorem.sentences(4) %>
                            </p>
                            <a href="#" class="btn btn-primary card__bodyLink">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </section>
        <section class="dij-c-section dij-c-section--v-team">
            <h2 class="dij-c-section--v-team__title">La Team</h2>
            <div class="row">
                <% for(let i = 0; i < 8; i++) { %>
                <div class="dij-c-section--v-team__cardWrapper">
                    <div class="card dij-c-section--v-team__card border-0 w-100 ">
                        <a href="#" class="text-center">
                                <img class="card__img" src="<%= require('@img/pirate.svg') %>" alt="Card image">
                        </a>
                        <div class="card-body">
                            <a href="#" class="card__bodyLink"><h5 class="card-title h2 text-center">chief <%= i %></h5></a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </section>

        <footer class="dij-c-footer">
            <div class="row">
                <form class="dij-c-formContact dij-c-footer__formContact">
                    <div class="dij-c-formContact__inner">
                        <div class="row">
                            <div class="dij-c-formContact__wrapper">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Prénom">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom">
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Numéro">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success float-right">SEND</button>
                </form>
                <article class="dij-c-footer__texte">
                    <p><%= faker.lorem.sentences(10) %></p>
                </article>
            </div>
        </footer>
    </div>
    
    <%= require('@partials/footer.ejs')() %>